*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(68, 140, 194, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(68, 140, 194, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(68, 140, 194, 0.2);
    border-radius: 10px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    gap: 20px;
}
.container .row1{
    background-color: #638cff;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-top: 0px;
    border-radius: 10px;
}
.container .row1 .row1-column1{
    margin: 20px;
    margin-top: 30px;
    background-color: #96b1fb;
    border-radius: 50px;
    width: 62px;
    margin-right: 13px;
    height: 62px;
    display: flex;
    min-height: 20%;
    align-content: center;
    justify-content: center;
}
.container .row1 img{
    border-radius: 50px;
    width: 50px;
    margin-top: 5px;
    height: 50px;
}
.container .row1 .row1-column2{
    margin-left: 5px;
    margin-top: 40px;
}
.container .row1 .row1-column2 p{
    color: white;
}
.container .row1 .row1-column2 span{
    color: rgba(255, 255, 255, 0.679);
    font-size: 14px;
}


.container .row2 button{
    background-color: #638cff;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 150px;
    margin-left: 80px;
    height: 40px;
    border: none;
    border-radius: 7px;
}
.container .row2 button a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}


.container .row3{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    margin-top: 5px;
}
.container .row3 .row3-column1{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.container .row3 .row3-column1 p{
    display: flex;
    flex-direction: row;
}
.container .row3 img{
    width: 40px;
    margin-left: 20px;
}
.container .row3 .row3-column1 span{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
.container .row3 .row3-column1 a{
    display: none;
    
}
.container .row3 .row3-column1 p:hover{
    color: #638cff;
    border-left: 3px solid #638cff;
}
.container .row3 .row3-column1 p:hover a{
    display: block;
    margin-left: 90px;
    text-decoration: none;
    color: grey;
    margin-top: 10px;
    font-size: 22px;
}